.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #15151d;
  
  --primary-color: #15161f;
  --secondary-color: #2d3041;

  --inverted-primary-color: #e1e3f7;
  --inverted-secondary-color: #989ebb;
}